* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: black;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.home .nav {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 250px;
    flex-grow: 0;
    height: 100vh;
    background-color: #303030ff;
}

.home .nav .link {
    color: white;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.home .nav .link.current {
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline;
}

.home .right-part {
    flex-grow: 1;
}

.home .right-part .page {
    place-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.float-block {
    border: 2px solid #00000033;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

h3 {
    margin: 0px;
    padding: 0px;
}
